.app {
  height: 100%;
}

main {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.contentInnerWrapper {
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 60% auto;
}

.contentSection {
  padding: 1em 0;
}

@media (max-width: 920px) {
  .contentSection {
    padding-top: 72px;
  }
}

.contentSection,
.siteFooter {
  box-shadow: 0 20em 10em -10em inset hsla(0, 0%, 0%, 10%);
}

h3 {
  font-size: 2em;
  border-bottom: 2px solid var(--black);
}

.contentSection p {
  line-height: 1.5;
  margin: 1em 0;
}

.contentInnerWrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1em;
}

.contentSection:nth-child(4n) {
  border-top: 5px solid var(--blue);
  background-color: var(--blue-bright);
}

.contentSection:nth-child(4n + 1) {
  border-top: 5px solid var(--peach);
  background-color: var(--peach-bright);
}

.contentSection:nth-child(4n + 2) {
  border-top: 5px solid var(--lavender);
  background-color: var(--lavender-bright);
}

.contentSection:nth-child(4n + 3) {
  border-top: 5px solid var(--yellow);
  background-color: var(--yellow-bright);
}
