.intro {
  background-color: var(--gray);
  position: relative;
  height: calc(100vh - 92px);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 60% auto;
  box-shadow: 0 -20em 10em -10em inset hsla(0, 0%, 0%, 15%);
}

@media (max-width: 920px) {
  .intro {
    padding-top: 72px;
  }
}

.intro p {
  width: 50%;
  padding-top: 3em;
  line-height: 1.5;
}

h1 {
  font-size: 4em;
}

h1 .name {
  color: var(--pink);
}

h2 {
  font-size: 2em;
  font-weight: normal;
  color: var(--blue);
}
