.siteFooter {
  border-top: 2px solid var(--gray);
  background-color: var(--gray-bright);
}

.contactList {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 36px;
  margin-top: 24px;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

.contactList li {
  display: flex;
  line-height: 36px;
  gap: 4px;
}

.contactList img {
  width: 36px;
}

@media (max-width: 1024px) {
  .contactList {
    gap: 0;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 24px auto 0;
  }

  .contactList li {
    width: 50%;
    display: flex;
  }
}

@media (max-width: 640px) {
  .contactList li:nth-child(even) {
    flex-direction: row-reverse;
  }

  .contactList li:nth-child(even) .value {
    text-align: right;
  }
}

@media (max-width: 480px) {
  .contactList {
    gap: 12px;
  }

  .contactList li {
    width: 100%;
  }

  .contactList li:nth-child(even) {
    flex-direction: row;
  }

  .contactList li:nth-child(even) .value {
    text-align: left;
  }
}
