@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Playfair Display", serif;
  --black: hsl(228, 12%, 22%);

  --yellow: hsl(40, 100%, 67%);
  --pink: hsl(15, 75%, 66%);
  --blue: hsl(211, 22%, 48%);
  --lavender: hsl(227, 20%, 50%);
  --gray: hsl(228, 5%, 45%);

  --yellow-bright: hsl(40, 100%, 90%);
  --pink-bright: hsl(15, 75%, 85%);
  --blue-bright: hsl(211, 22%, 80%);
  --lavender-bright: hsl(227, 20%, 77%);
  --gray-bright: hsl(228, 12%, 92%);

  color: var(--black);
  font-size: 22px;

  overflow: hidden;
}

@media (max-width: 640px) {
  body {
    font-size: 16px;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--gray-bright);
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue);
}

button {
  font-family: inherit;
}

a {
  color: var(--blue);
}

a:hover,
a:active {
  text-decoration: none;
}
