@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  --black: hsl(228, 12%, 22%);
  --yellow: #ffc759ff;
  --pink: hsl(15, 75%, 66%);
  --blue: rgb(96, 122, 150);
  --lavender: #babfd1ff;
  --gray: #e8e9edff;

  color: var(--black);
  font-size: 22px;

  overflow: hidden;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--gray);
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue);
}

button {
  font-family: inherit;
}
