@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  --black: hsl(228, 12%, 22%);
  --yellow: #ffc759ff;
  --pink: #ff7b9cff;
  --blue: #607196ff;
  --lavender: #babfd1ff;
  --gray: #e8e9edff;

  color: var(--black);
  font-size: 22px;
}

button {
  font-family: inherit;
}
